body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.forms-customer {
  margin: auto;
  margin-right: 100px;
  padding-bottom: 50px;
  width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.forms-customer p {
  color: rgb(243, 1, 1);
}

.forms-group {
  padding-top: 100px;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group {
  padding-top: 100px;
  height: 350px;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.group {
  width: 700px;
  margin: auto;
}

.customer {
  padding-top: 100px;
  display: flex;
  width: 1200px;
  margin: auto;
}

.header {
  width: 700px;
  margin: auto;
  text-align: center;
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(25, 118, 210);
  border: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  color: #1976d2;
}